.navbar {
  width: 100%;
  background-color: rgb(0, 255, 165);
  padding: 10px 20px;
  box-sizing: border-box;

}

.nav-button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 50px;
  transition: color 0.3s;
}

.nav-button:hover {
  color: rgb(0, 74, 48);
}

.block {
  padding: 50px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
text-decoration: none;
  border-radius: 10px;
}

.block img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-caption {
  margin-top: 0px;
  padding: 10px;
  font-size: 30px;
  background-color: white;
  color: rgb(145, 145, 145);
}

.image-caption:hover {
  color: rgb(0, 74, 48);
}

body {
  font-family: Arial, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header{
    color: black;
    background-color: white;
    padding: 10px;
}