* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.box {
    background-color: green;
    border: 1px solid;
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.relative {
    background-color: greenyellow;
    position: relative;
    bottom: 100px;
    right: 20px;
    z-index: -1;
  
}

.fixed {
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}

.sticky {
    background-color: darkgoldenrod;
    position: sticky;
    top: 0;
}

.absolute {
    background-color: pink;
    position: absolute;
    top: 200px;
    left: 200px;

}

.parent {
    background: lightgray;
    width: 300px;
    height: 300px;
    position: relative;

}

/* absolutely positioned elements will position themselves relative to the doc body unless they have a parent/container that has also been given a position value */

.child {
background: lightblue;
width: 50px;
height: 50px;
position: absolute;
top: -50px;
right: -50px;
}

.smiley {
    background-color: burlywood;
    width: 200px;
    height: 200px;
    position: relative;
}

.eye {
    background-color: aquamarine;
    width: 30px;
    height: 30px;
    border: 5px solid white;
    position: absolute;
    top: 40px;
    border-radius: 100%;

}

.left {
    left: 40px;
}

.right {
    right: 40px;
}

.mouth {
    background-color: pink;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    border-radius: 25px;
}

.hat {
    background: red;
    width: 150px;
    height: 40px;
    position: absolute;
    top: -30px;
    left: 25px;
}